# Context-Aware Recommendation Algorithm by PAPERDAA-2

In [3]:
import numpy as np
import pandas as pd
import math
from sklearn import preprocessing
from itertools import product as cartesian_product

# Training

## Program Arguments

In [4]:
LMAX = 10    # Maximum transitive path length
K = 50       # Nearest neighbors

## Preprocessing

In [5]:
df = pd.read_csv('training_dataset.csv')

df.tail(5)

      userid     itemid  rating     Time Location Companion
3432    1082  tt0413267       1  Weekend     Home   Partner
3433    1082  tt1637706       2  Weekend     Home   Partner
3434    1082  tt0343660       1  Weekend     Home   Partner
3435    1082  tt1133985       1  Weekend     Home   Partner
3436    1082  tt1099212       1  Weekend     Home   Partner

In [6]:
encoder = preprocessing.LabelEncoder()

user_item_context_encodings = []
user_item_context_reverse_encodings = []
maximum_rating = df[df.columns[2]].max()

encoded_df = df.copy()
# Encode userid, itemid, and contextual informations for item splitting
for column_index in range(len(df.columns)):
    
    # Column attribute is not rating
    if column_index != 2:
        
        # Fit encoder
        encoder.fit(df[df.columns[column_index]])
        encoded_df[df.columns[column_index]] = encoder.transform(
                df[df.columns[column_index]]
            )
    
    # Column is nor user or rating
    if column_index != 2:
            user_item_context_encodings.append(
                dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))
            )
            user_item_context_reverse_encodings.append(
                dict(zip(encoder.transform(encoder.classes_), encoder.classes_))
            )

In [7]:
display(encoded_df)

      userid  itemid  rating  Time  Location  Companion
0          2      38       1     0         0          0
1          2       8       1     0         0          0
2          2      74       1     0         0          0
3          2       5       1     0         0          0
4          2       2       1     0         0          0
...      ...     ...     ...   ...       ...        ...
3432      65      35       1     1         1          2
3433      65      62       2     1         1          2
3434      65      25       1     1         1          2
3435      65      50       1     1         1          2
3436      65      49       1     1         1          2

[3437 rows x 6 columns]

## Item Splitting

In [8]:
# Cartesian product all items and contexts

users = user_item_context_encodings[0].values()
items = user_item_context_encodings[1].values()
contexts = [
    context_trans.values() for context_trans in user_item_context_encodings[2:]
]

context_T = list(cartesian_product(items, *contexts))

In [9]:
# Generate new user-item matrix for new items
rating_matrix = np.zeros((len(users), len(context_T)), dtype=object)

In [10]:
for row in encoded_df.iterrows():
    data = tuple(row[1])
    user = data[0]
    item = data[1]
    rating = data[2]
    context_item = (item, *data[3:])
    
    index = context_T.index(context_item)
    
    rating_matrix[user][index] = int(rating)/int(maximum_rating)

In [11]:
display(rating_matrix)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0.2, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1.0, 0.8, 1.0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=object)

## Graph Similarity Calculation (Item-Based)

In [12]:
def get_column_vector(matrix, index):
    column_vector = []

    for row in matrix:
        column_vector.append(row[index])
    return column_vector


def dot_product(c1, c2):
    result = 0
    if (len(c1) == len(c2)):
        for i in range(len(c1)):
            result += c1[i] * c2[i]

    return result


def vector_length(vector):
    result = 0

    for integer in vector:
        result += integer * integer
    
    result = result**0.5
    return result if result != 0 else False


def cosine_similarity(c1, c2):
    l1 = vector_length(c1) 
    l2 = vector_length(c2)
    
    if l1 > 0 and l2 > 0:
        return dot_product(c1, c2) / (l1 * l2)
    else:
        return False

def get_k_largest(vector: list, k):
    k_largest = []
    while k > 0 and max(vector) != 0:
        largest = max(vector)
        k_largest.append(largest)
        vector[vector.index(largest)] = -999999

        k -= 1
    
    return k_largest

In [14]:
m = len(rating_matrix[0])

M = np.zeros((m, m), dtype=object)      # output is m x m Matrix
for j in range(m):
    for i in range(m):
        if i != j:
            columnI = get_column_vector(rating_matrix, i)
            columnJ = get_column_vector(rating_matrix, j)
            sim = cosine_similarity(columnI, columnJ)
            if (sim):
                M[i][j] = sim
            else:
                M[i][j] = 0

display(M)

array([[0, 0.26238676764419283, 0.5763524126874763, ..., 0,
        0.16265001215808886, 0],
       [0.26238676764419283, 0, 0.23012841872238948, ..., 0, 0,
        0.05363935461248598],
       [0.5763524126874763, 0.23012841872238948, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0.16265001215808886, 0, 0, ..., 0, 0, 0],
       [0, 0.05363935461248598, 0, ..., 0, 0, 0]], dtype=object)

In [16]:
for j in range(m):
    for i in range(m):
        columnI = get_column_vector(M, i)
        k_largest = get_k_largest(columnI, K)
        if M[i][j] not in k_largest:
            M[i][j] = 0

KeyboardInterrupt:

In [ ]:
display(M)

array([[0, 0.26238676764419283, 0.5763524126874763, ..., 0,
        0.16265001215808886, 0],
       [0.26238676764419283, 0, 0.23012841872238948, ..., 0, 0,
        0.05363935461248598],
       [0.5763524126874763, 0.23012841872238948, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0.16265001215808886, 0, 0, ..., 0, 0, 0],
       [0, 0.05363935461248598, 0, ..., 0, 0, 0]], dtype=object)

# Prediction

In [ ]:
USER = 1058   # User to check
N = 10

## Ratings Prediction

### Get list of rated items

In [ ]:
wanted_user = user_item_context_encodings[0][USER]

inferred_ratings = []
user_rated_items = rating_matrix[wanted_user]

In [ ]:
def find_item_neighbors(user, item, rating_matrix, similarity_matrix, K):
    corr_items_similarity = similarity_matrix[item]
    
    user_rated_items = rating_matrix[user]
    rated_item_indexes = []
    
    for item_index in range(len(user_rated_items)):
        
        # User has rated the item
        if user_rated_items[item_index] != 0:
            rated_item_indexes.append(item_index)
    
    filtered_similarity_scores = []
    
    # Get neighbors similarity score
    for item_index in rated_item_indexes:
        if item != item_index:
            filtered_similarity_scores.append(
                (item_index, corr_items_similarity[item_index])
            )
    
    # Sort based on simlarity scores 
    # (tuple is in (item_index, sim_score) format)
    filtered_similarity_scores = sorted(filtered_similarity_scores, 
                                       key=lambda x: x[1], 
                                       reverse=True
                                    )
    
    item_neighbors = []
    
    # Filter top K similar items
    for i in range(K):
        similar_item = filtered_similarity_scores[i]
        item_neighbors.append(similar_item[0])
    
    return item_neighbors

### Item-KNN

In [ ]:
for item in range(len(user_rated_items)):
    rating = user_rated_items[item]
    
    # Item has not been rated
    if rating == 0:
        rating_sum = 0
        neighbor_count = 0
        
        # Find k nearest item neighbors
        nearest_neighbors = find_item_neighbors(
                                wanted_user,
                                item,
                                rating_matrix,
                                M,
                                K
                            )
        
        # Nearest neighbors are represented as their indexes
        # in the rating matrix
        for item_neighbor in nearest_neighbors:
            neighbor_rating = rating_matrix[wanted_user][item_neighbor]
            
            rating_sum += neighbor_rating
            neighbor_count += 1
            
        inferred_rating = rating_sum / neighbor_count if neighbor_count != 0 else 0
        
        if inferred_rating != 0:
            inferred_ratings.append((item, inferred_rating))

IndexError: index 81 is out of bounds for axis 0 with size 81

In [ ]:
mapped_ratings = []
for i in inferred_ratings:
    
    # Get actual item encoding (from the cartesian product result)
    item_context = context_T[i[0]]
    
    item = user_item_context_reverse_encodings[1][item_context[0]]
    
    new_entry = [item]
    
    for j in range(1, len(item_context)):
        new_entry.append(item_context[j])
    
    new_entry.append(i[1])
    
    mapped_ratings.append(new_entry)

In [ ]:
predicted_df = pd.DataFrame(
    mapped_ratings, 
    columns=[
        'Item', 
        *encoded_df.columns[3:], 
        'predicted_rating']
).sort_values(by='predicted_rating', ascending=False)
display(predicted_df)

          Item  Time  Location  Companion  predicted_rating
231  tt0293662     1         1          2             0.724
443  tt0800369     0         1          0             0.724
753  tt2574698     0         1          0             0.724
448  tt0800369     1         1          2             0.724
695  tt1707386     0         1          0             0.724
..         ...   ...       ...        ...               ...
476  tt0945513     1         1          0             0.608
318  tt0376541     1         1          2             0.608
739  tt2251217     1         1          2             0.608
740  tt2557490     0         0          0             0.608
773  tt3203616     1         1          2             0.608

[857 rows x 5 columns]

## Recommendation Generation

In [ ]:
# Select N items to be recommended
chosen = []

for data in predicted_df.iterrows():
    data_tup = tuple(data[1])
      
    if len(chosen) <= N:
        chosen.append(data_tup)

for i in chosen:
    print(i)

('tt0293662', 1, 1, 2, 0.7240000000000001)
('tt0800369', 0, 1, 0, 0.7240000000000001)
('tt2574698', 0, 1, 0, 0.7240000000000001)
('tt0800369', 1, 1, 2, 0.7240000000000001)
('tt1707386', 0, 1, 0, 0.7240000000000001)
('tt3637328', 1, 0, 0, 0.7240000000000001)
('tt0462538', 0, 0, 2, 0.7240000000000001)
('tt0268380', 0, 1, 0, 0.7240000000000001)
('tt0289879', 1, 1, 2, 0.7240000000000001)
('tt0378194', 1, 1, 2, 0.7240000000000001)
('tt0147800', 1, 1, 2, 0.7240000000000001)

## Rating Prediction Translated Result

In [ ]:
mapped_ratings = []
for i in inferred_ratings:
    
    # Get actual item encoding (from the cartesian product result)
    item_context = context_T[i[0]]
    
    item = user_item_context_reverse_encodings[1][item_context[0]]
    
    new_entry = [item]
    
    # Translate remaining context
    for j in range(1, len(item_context)):
        # 1 --> item
        # >= 2 --> context
        translator = user_item_context_reverse_encodings[j+1]
        new_entry.append(translator[item_context[j]])
    
    # Append the rating
    new_entry.append(i[1]*maximum_rating)
    
    mapped_ratings.append(new_entry)

In [ ]:
res = pd.DataFrame(
    mapped_ratings, 
    columns=[
        'Item', 
        *encoded_df.columns[3:], 
        'predicted_rating']
).sort_values(by='predicted_rating', ascending=False)
display(res)

          Item     Time Location Companion  predicted_rating
231  tt0293662  Weekend     Home   Partner              3.62
443  tt0800369  Weekday     Home     Alone              3.62
753  tt2574698  Weekday     Home     Alone              3.62
448  tt0800369  Weekend     Home   Partner              3.62
695  tt1707386  Weekday     Home     Alone              3.62
..         ...      ...      ...       ...               ...
476  tt0945513  Weekend     Home     Alone              3.04
318  tt0376541  Weekend     Home   Partner              3.04
739  tt2251217  Weekend     Home   Partner              3.04
740  tt2557490  Weekday   Cinema     Alone              3.04
773  tt3203616  Weekend     Home   Partner              3.04

[857 rows x 5 columns]

In [ ]:
res[res['Item'] == 'tt0266543']

          Item     Time Location Companion  predicted_rating
193  tt0266543  Weekday     Home     Alone              3.62
198  tt0266543  Weekend     Home   Partner              3.62
196  tt0266543  Weekend     Home     Alone              3.60
191  tt0266543  Weekday   Cinema    Family              3.60
195  tt0266543  Weekend   Cinema    Family              3.60
194  tt0266543  Weekday     Home   Partner              3.58
190  tt0266543  Weekday   Cinema     Alone              3.56
197  tt0266543  Weekend     Home    Family              3.56
192  tt0266543  Weekday   Cinema   Partner              3.54

## Dataset Merge

In [ ]:
witheld = pd.read_csv('witheld_ratings.csv')

In [ ]:
display(witheld)

     userid     itemid  rating     Time Location Companion
0      1067  tt0378194       2  Weekday   Cinema   Partner
1      1067  tt0111161       1  Weekday   Cinema   Partner
2      1067  tt1632708       1  Weekday   Cinema   Partner
3      1067  tt0356910       4  Weekend   Cinema   Partner
4      1067  tt0378194       1  Weekend   Cinema   Partner
..      ...        ...     ...      ...      ...       ...
147    1058  tt0319262       3  Weekday     Home    Family
148    1058  tt1657301       3  Weekday     Home    Family
149    1058  ttnanana1       2  Weekday   Cinema   Partner
150    1058  tt3793764       3  Weekday     Home    Family
151    1058  tt0382625       4  Weekend   Cinema     Alone

[152 rows x 6 columns]

In [ ]:
actual_ratings = []

In [ ]:
for row in res.iterrows():
    row_data = row[1]
    actual = witheld[
        (witheld['userid'] == USER) &\
        (witheld['itemid'] == row_data['Item']) &\
        (witheld['Time'] == row_data['Time']) &\
        (witheld['Location'] == row_data['Location']) &
        (witheld['Companion'] == row_data['Companion'])
    ]['rating']
    
    if(not actual.empty):
        actual_ratings.append(tuple(actual)[0])
        
    else:
        actual_ratings.append(np.nan)

In [ ]:
merged_result = res.copy()

In [ ]:
merged_result['actual_rating'] = actual_ratings

In [ ]:
merged_result['actual_rating']

231   NaN
443   NaN
753   NaN
448   NaN
695   NaN
       ..
476   NaN
318   NaN
739   NaN
740   NaN
773   NaN
Name: actual_rating, Length: 857, dtype: float64

In [ ]:
merged_result[
    (merged_result['actual_rating'] != np.nan)
]

          Item     Time Location Companion  predicted_rating  actual_rating
231  tt0293662  Weekend     Home   Partner              3.62            NaN
443  tt0800369  Weekday     Home     Alone              3.62            NaN
753  tt2574698  Weekday     Home     Alone              3.62            NaN
448  tt0800369  Weekend     Home   Partner              3.62            NaN
695  tt1707386  Weekday     Home     Alone              3.62            NaN
..         ...      ...      ...       ...               ...            ...
476  tt0945513  Weekend     Home     Alone              3.04            NaN
318  tt0376541  Weekend     Home   Partner              3.04            NaN
739  tt2251217  Weekend     Home   Partner              3.04            NaN
740  tt2557490  Weekday   Cinema     Alone              3.04            NaN
773  tt3203616  Weekend     Home   Partner              3.04            NaN

[857 rows x 6 columns]

In [ ]:
compared_df = merged_result.dropna()
display(compared_df)

          Item     Time Location Companion  predicted_rating  actual_rating
149  tt0181689  Weekday     Home    Family              3.62            5.0
630  tt1499658  Weekend   Cinema   Partner              3.62            3.0
26   tt0110357  Weekend   Cinema   Partner              3.62            3.0
279  tt0356910  Weekday     Home    Family              3.58            4.0
808  tt3793764  Weekday     Home    Family              3.58            3.0
686  tt1657301  Weekday     Home    Family              3.58            3.0
323  tt0378194  Weekday     Home    Family              3.58            3.0
620  tt1478338  Weekend   Cinema   Partner              3.56            3.0
248  tt0319262  Weekday     Home    Family              3.56            3.0
333  tt0382625  Weekday     Home    Family              3.56            4.0
4    tt0088763  Weekday     Home    Family              3.56            5.0
837  ttnanana1  Weekday   Cinema   Partner              3.54            2.0
140  tt0169547  Weekend   Cinema     Alone              3.54            5.0
131  tt0147800  Weekend   Cinema   Partner              3.54            3.0
15   tt0109830  Weekend   Cinema     Alone              3.54            4.0
151  tt0181689  Weekend   Cinema     Alone              3.54            5.0
745  tt2557490  Weekend   Cinema     Alone              3.54            2.0
63   tt0114369  Weekday   Cinema   Partner              3.54            1.0
173  tt0213149  Weekend   Cinema     Alone              3.54            2.0
302  tt0367594  Weekend   Cinema     Alone              3.54            3.0
363  tt0407304  Weekend   Cinema     Alone              3.54            1.0
335  tt0382625  Weekend   Cinema     Alone              3.54            4.0
57   tt0114148  Weekend   Cinema   Partner              3.04            3.0

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
print("MAE", mean_absolute_error(
    compared_df['actual_rating'],
    compared_df['predicted_rating']
))

print("RMSE", mean_squared_error(
    compared_df['actual_rating'],
    compared_df['predicted_rating']
))

MAE 0.9756521739130434
RMSE 1.3931478260869568