In [2]:
import pandas as pd
import numpy as np

In [3]:
training = pd.read_csv('training_dataset.csv')

In [5]:
training[(training['userid'] == '1082') & \
        (training['itemid'] == 'tt0110357')]

     userid     itemid rating     Time Location Companion
3445   1082  tt0110357      2  Weekend   Cinema     Alone
3469   1082  tt0110357      4  Weekend     Home    Family

In [6]:
witheld = pd.read_csv('witheld_dataset.csv')

In [11]:
witheld[(witheld['userid'] == 1082) & (witheld['itemid'] == 'tt0110357') ]

     userid     itemid  rating     Time Location Companion
10     1082  tt0110357       5  Weekday   Cinema   Partner
24     1082  tt0110357       5  Weekday   Cinema   Partner
56     1082  tt0110357       4  Weekend     Home    Family
133    1082  tt0110357       2  Weekend   Cinema     Alone