# Context-Aware Recommendation Algorithm by PAPERDAA-2

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from itertools import product as cartesian_product

# Training

## Program Arguments

In [2]:
LMAX = 6      # Maximum transitive path length
K = 2

## Preprocessing

In [3]:
df = pd.read_csv('ratings.csv')
df.tail(5)

      userid     itemid rating     Time Location Companion
10082   1082  tt0413267      1  Weekend     Home   Partner
10083   1082  tt1637706      2  Weekend     Home   Partner
10084   1082  tt0343660      1  Weekend     Home   Partner
10085   1082  tt1133985      1  Weekend     Home   Partner
10086   1082  tt1099212      1  Weekend     Home   Partner

In [11]:
encoder = preprocessing.LabelEncoder()

user_item_context_encodings = []
user_item_context_reverse_encodings = []
maximum_rating = df[df.columns[2]].max()

encoded_df = df.copy()
# Encode userid, itemid, and contextual informations for item splitting
for column_index in range(len(df.columns)):
    
    # Column attribute is not rating
    if column_index != 2:
        
        # Fit encoder
        encoder.fit(df[df.columns[column_index]])
        encoded_df[df.columns[column_index]] = encoder.transform(
                df[df.columns[column_index]]
            )
    
    # Column is nor user or rating
    if column_index != 2:
            user_item_context_encodings.append(
                dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))
            )
            user_item_context_reverse_encodings.append(
                dict(zip(encoder.transform(encoder.classes_), encoder.classes_))
            )

'rating'

In [5]:
display(encoded_df)

       userid  itemid rating  Time  Location  Companion
0          96      59      2     3         3          4
1          96      34      4     3         3          4
2          96       2      5     3         3          4
3          96       1      3     3         3          4
4          96      11      3     3         3          4
...       ...     ...    ...   ...       ...        ...
10082      70      36      1     2         1          3
10083      70      63      2     2         1          3
10084      70      26      1     2         1          3
10085      70      51      1     2         1          3
10086      70      50      1     2         1          3

[10087 rows x 6 columns]

## Item Splitting

In [6]:
# Cartesian product all items and contexts

users = user_item_context_encodings[0].values()
items = user_item_context_encodings[1].values()
contexts = [
    context_trans.values() for context_trans in user_item_context_encodings[2:]
]

context_T = list(cartesian_product(items, *contexts))

In [7]:
# Generate new user-item matrix for new items
rating_matrix = np.zeros((len(users), len(context_T)), dtype=object)

In [8]:
for row in encoded_df.iterrows():
    data = tuple(row[1])
    user = data[0]
    item = data[1]
    rating = data[2]
    context_item = (item, *data[3:])
    
    index = context_T.index(context_item)
    
    rating_matrix[user][index] = rating/maximum_rating

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
display(rating_matrix)

## Graph Similarity Calculation (User-Based)

In [ ]:
rating_matrix_transposed = np.transpose(rating_matrix)

In [ ]:
L = 2

WWT = np.matmul(rating_matrix, rating_matrix_transposed)
M = np.matmul(rating_matrix, rating_matrix_transposed)

while L != LMAX:
    M = np.matmul(WWT, M)
    L = L + 2

In [ ]:
display(M)

# Prediction

In [ ]:
USER = 1090   # User to check
CONTEXT = ('Weekend', 'Home', 'Partner')
N = 10

In [ ]:
# Context translation
translated_context = []

for cnt_index in range(len(CONTEXT)):
    # 0 --> User
    # 1 --> Item
    # >= 2 --> context
    map_index = cnt_index + 2
    translation_table = user_item_context_encodings[map_index]
    
    translated_context.append(translation_table[CONTEXT[cnt_index]])

translated_context = tuple(translated_context)
display(translated_context)

## Ratings Prediction

In [ ]:
# Get K most similar users
wanted_user = user_item_context_encodings[0][USER]

scores = M[wanted_user]
K_similar_users = np.argpartition(scores, -(K+1))[-(K+1):]

if wanted_user in K_similar_users:
    K_similar_users = K_similar_users[K_similar_users != wanted_user]
else:
    K_similar_users = K_similar_users[:-1]

### Get list of rated items

In [ ]:
inferred_ratings = []
user_rated_items = rating_matrix[wanted_user]

### KNN

In [ ]:
for item in range(len(user_rated_items)):
    rating = user_rated_items[item]
    
    # Item has not been rated
    if rating == 0:
        rating_sum = 0
        neighbor_count = 0
        
        for neighbor in K_similar_users:
            neighbor_rating = rating_matrix[neighbor][item]
            
            # If neighbor has rated the item
            if neighbor_rating != 0:
                rating_sum += neighbor_rating
                neighbor_count += 1
            
        inferred_rating = rating_sum / neighbor_count if neighbor_count != 0 else 0
        
        if inferred_rating != 0:
            inferred_ratings.append((item, inferred_rating))

In [ ]:
mapped_ratings = []
for i in inferred_ratings:
    
    # Get actual item encoding (from the cartesian product result)
    item_context = context_T[i[0]]
    
    item = user_item_context_reverse_encodings[1][item_context[0]]
    
    new_entry = [item]
    
    for j in range(1, len(item_context)):
        new_entry.append(item_context[j])
    
    new_entry.append(i[1])
    
    mapped_ratings.append(new_entry)

In [ ]:
predicted_df = pd.DataFrame(
    mapped_ratings, 
    columns=[
        'Item', 
        *encoded_df.columns[3:], 
        'predicted_rating']
).sort_values(by='predicted_rating', ascending=False)
display(predicted_df)

## Recommendation Generation

In [ ]:
# Select N items to be recommended
chosen = []

for data in predicted_df.iterrows():
    data_tup = tuple(data[1])
    
    if tuple(data[1][1:-1]) == translated_context:
        
        if len(chosen) <= N:
            chosen.append(data_tup)

for i in chosen:
    print(i[:-1])

## Rating Prediction Translated Result

In [ ]:
mapped_ratings = []
for i in inferred_ratings:
    
    # Get actual item encoding (from the cartesian product result)
    item_context = context_T[i[0]]
    
    item = user_item_context_reverse_encodings[1][item_context[0]]
    
    new_entry = [item]
    
    # Translate remaining context
    for j in range(1, len(item_context)):
        # 1 --> item
        # >= 2 --> context
        translator = user_item_context_reverse_encodings[j+1]
        new_entry.append(translator[item_context[j]])
    
    new_entry.append(i[1])
    
    mapped_ratings.append(new_entry)

In [ ]:
pd.DataFrame(
    mapped_ratings, 
    columns=[
        'Item', 
        *encoded_df.columns[3:], 
        'predicted_rating']
).sort_values(by='predicted_rating', ascending=False)