# Context-Aware Recommendation Algorithm by PAPERDAA-2

In [2]:
import numpy as np
import pandas as pd
import math
from sklearn import preprocessing
from itertools import product as cartesian_product

# Training

## Program Arguments

In [3]:
LMAX = 2    # Maximum transitive path length
K = 50       # Nearest neighbors

## Preprocessing

In [4]:
df = pd.read_csv('training_dataset.csv')

df.tail(5)

      userid     itemid  rating     Time Location Companion
3280    1082  tt0413267       1  Weekend     Home   Partner
3281    1082  tt1637706       2  Weekend     Home   Partner
3282    1082  tt0343660       1  Weekend     Home   Partner
3283    1082  tt1133985       1  Weekend     Home   Partner
3284    1082  tt1099212       1  Weekend     Home   Partner

In [5]:
encoder = preprocessing.LabelEncoder()

user_item_context_encodings = []
user_item_context_reverse_encodings = []
maximum_rating = df[df.columns[2]].max()

encoded_df = df.copy()
# Encode userid, itemid, and contextual informations for item splitting
for column_index in range(len(df.columns)):
    
    # Column attribute is not rating
    if column_index != 2:
        
        # Fit encoder
        encoder.fit(df[df.columns[column_index]])
        encoded_df[df.columns[column_index]] = encoder.transform(
                df[df.columns[column_index]]
            )
    
    # Column is nor user or rating
    if column_index != 2:
            user_item_context_encodings.append(
                dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))
            )
            user_item_context_reverse_encodings.append(
                dict(zip(encoder.transform(encoder.classes_), encoder.classes_))
            )

In [6]:
display(encoded_df)

      userid  itemid  rating  Time  Location  Companion
0          2      38       1     0         0          0
1          2       8       1     0         0          0
2          2      74       1     0         0          0
3          2       5       1     0         0          0
4          2       2       1     0         0          0
...      ...     ...     ...   ...       ...        ...
3280      65      35       1     1         1          2
3281      65      62       2     1         1          2
3282      65      25       1     1         1          2
3283      65      50       1     1         1          2
3284      65      49       1     1         1          2

[3285 rows x 6 columns]

## Item Splitting

In [7]:
# Cartesian product all items and contexts

users = user_item_context_encodings[0].values()
items = user_item_context_encodings[1].values()
contexts = [
    context_trans.values() for context_trans in user_item_context_encodings[2:]
]

context_T = list(cartesian_product(items, *contexts))

In [8]:
# Generate new user-item matrix for new items
rating_matrix = np.zeros((len(users), len(context_T)), dtype=object)

In [9]:
for row in encoded_df.iterrows():
    data = tuple(row[1])
    user = data[0]
    item = data[1]
    rating = data[2]
    context_item = (item, *data[3:])
    
    index = context_T.index(context_item)
    
    rating_matrix[user][index] = int(rating)/int(maximum_rating)

In [10]:
display(rating_matrix)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0.2, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1.0, 0.8, 1.0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=object)

## Graph Similarity Calculation (Item-Based)

In [11]:
rating_matrix_transposed = np.transpose(rating_matrix)

In [12]:
L = 2

WTW = np.matmul(rating_matrix_transposed, rating_matrix)
M = np.matmul(rating_matrix_transposed, rating_matrix)

while L != LMAX:
    M = np.matmul(WTW, M)
    L = L + 2

In [13]:
display(M)

array([[2.8, 0.8, 1.3599999999999999, ..., 0.0, 0.4, 0.0],
       [0.8, 3.3200000000000003, 0.8, ..., 0.0, 0.0, 0.16000000000000003],
       [1.3599999999999999, 0.8, 3.0, ..., 0.0, 0.0, 0.0],
       ...,
       [0.0, 0.0, 0.0, ..., 1.0, 0.0, 0.0],
       [0.4, 0.0, 0.0, ..., 0.0, 2.16, 0.0],
       [0.0, 0.16000000000000003, 0.0, ..., 0.0, 0.0, 2.68]], dtype=object)

# Prediction

In [ ]:
USER = 1058   # User to check
N = 10

## Ratings Prediction

### Get list of rated items

In [ ]:
inferred_ratings = []
user_rated_items = rating_matrix[wanted_user]

In [ ]:
def find_item_neighbor(user, item, rating_matrix, similarity_matrix):
    items_similarity = similarity_matrix[item]
    
    user_rated_items = rating_matrix[user]
    rated_item_indexes = []
    
    for item_index in range(len(user_rated_items)):
        
        # User has rated the item
        if user_rated_items[item_index] != 0:
            rated_item_indexes.append(item_index)

### Item-KNN

In [ ]:
for item in range(len(user_rated_items)):
    rating = user_rated_items[item]
    
    # Item has not been rated
    if rating == 0:
        rating_sum = 0
        neighbor_count = 0
        
        # Find k nearest item neighbors
        
        
        for item_neighbor in K_similar_users:
            neighbor_rating = rating_matrix[neighbor][item]
            
            # If neighbor has rated the item
            if neighbor_rating != 0:
                rating_sum += neighbor_rating
                neighbor_count += 1
            
        inferred_rating = rating_sum / neighbor_count if neighbor_count != 0 else 0
        
        if inferred_rating != 0:
            inferred_ratings.append((item, inferred_rating))

In [ ]:
mapped_ratings = []
for i in inferred_ratings:
    
    # Get actual item encoding (from the cartesian product result)
    item_context = context_T[i[0]]
    
    item = user_item_context_reverse_encodings[1][item_context[0]]
    
    new_entry = [item]
    
    for j in range(1, len(item_context)):
        new_entry.append(item_context[j])
    
    new_entry.append(i[1])
    
    mapped_ratings.append(new_entry)

In [ ]:
predicted_df = pd.DataFrame(
    mapped_ratings, 
    columns=[
        'Item', 
        *encoded_df.columns[3:], 
        'predicted_rating']
).sort_values(by='predicted_rating', ascending=False)
display(predicted_df)

## Recommendation Generation

In [ ]:
# Select N items to be recommended
chosen = []

for data in predicted_df.iterrows():
    data_tup = tuple(data[1])
      
    if len(chosen) <= N:
        chosen.append(data_tup)

for i in chosen:
    print(i)

## Rating Prediction Translated Result

In [ ]:
mapped_ratings = []
for i in inferred_ratings:
    
    # Get actual item encoding (from the cartesian product result)
    item_context = context_T[i[0]]
    
    item = user_item_context_reverse_encodings[1][item_context[0]]
    
    new_entry = [item]
    
    # Translate remaining context
    for j in range(1, len(item_context)):
        # 1 --> item
        # >= 2 --> context
        translator = user_item_context_reverse_encodings[j+1]
        new_entry.append(translator[item_context[j]])
    
    # Append the rating
    new_entry.append(i[1]*maximum_rating)
    
    mapped_ratings.append(new_entry)

In [ ]:
res = pd.DataFrame(
    mapped_ratings, 
    columns=[
        'Item', 
        *encoded_df.columns[3:], 
        'predicted_rating']
).sort_values(by='predicted_rating', ascending=False)
display(res)

In [ ]:
res[res['Item'] == 'tt0266543']

## Dataset Merge

In [ ]:
witheld = pd.read_csv('witheld_ratings.csv')

In [ ]:
display(witheld)

In [ ]:
actual_ratings = []

In [ ]:
for row in res.iterrows():
    row_data = row[1]
    actual = witheld[
        (witheld['userid'] == USER) &\
        (witheld['itemid'] == row_data['Item']) &\
        (witheld['Time'] == row_data['Time']) &\
        (witheld['Location'] == row_data['Location']) &
        (witheld['Companion'] == row_data['Companion'])
    ]['rating']
    
    if(not actual.empty):
        actual_ratings.append(tuple(actual)[0])
        
    else:
        actual_ratings.append(np.nan)

In [ ]:
merged_result = res.copy()

In [ ]:
merged_result['actual_rating'] = actual_ratings

In [ ]:
merged_result['actual_rating']

In [ ]:
merged_result[
    (merged_result['actual_rating'] != np.nan)
]

In [ ]:
compared_df = merged_result.dropna()
display(compared_df)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
print("MAE", mean_absolute_error(
    compared_df['actual_rating'],
    compared_df['predicted_rating']
))

print("RMSE", mean_squared_error(
    compared_df['actual_rating'],
    compared_df['predicted_rating']
))